* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
	
/* Variáveis de configurações básicas. */
:root {
	--largura-max-central: 900px;
	--fonts-principais:Trebuchet MS, Arial, sans-serif;
	--cor-primaria: #2c78c7;
	--cor-secundaria: #86f1fe;
	--tamanho-fonte: 16px;
	--espacamento: 10px;
}


body {
	font-family: var(--fonts-principais);
	font-size: var(--tamanho-fonte);
	background-image:url('../img/background-page.png');
	background-color:#fff;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
	
.grid-container {
	display: grid;
    grid-template-areas:
		"header"
        "nav"
        "main"
        "footer";
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    }

header {
    grid-area: header;
    padding: 0.3rem;
    text-align: left;
}
	
main{ padding:0; }
	
#main-header{
	background-image:url('../img/background-cabecalho.png');
	background-repeat: no-repeat;
	background-position:center -1.5rem;
	background-size:25rem;
}
	
article{
	max-width: var(--largura-max-central);
	margin:0 auto;
	margin-bottom:2rem;
	text-align:justify;
	line-height: 2rem;
	text-indent: 5rem;
	color: #4d4d4d;
}
	
article h2{
	text-indent: 0;
	color:#0334a4;
	background-repeat:no-repeat;
	background-position: bottom right;
	background-color:#fff;
	padding-left:1rem;
	border-left:3px solid #6d96f2;
	margin-bottom:1rem;
	background-image:url('../img/back-title.png');
}
	
input{ 
	padding:0.5rem;
	border:2px solid #d4d4d4;
	border-bottom:2px solid #000;		
	border-radius: 0.5rem;
}

select{ 
	padding:0.5rem; 
	border:2px solid #d4d4d4;
	border-bottom:2px solid #000;		
	border-radius: 0.2rem;
}
	
.campoLargura100porcento{ width:100%;}
.campoLargura80porcento{ width:80%;}
.campoLargura60porcento{ width:60%;}
.campoLargura40porcento{ width:40%;}
	
#header-logo{
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 1rem;
	width: 12rem;
	cursor:pointer;
}
	
#header-logo img{
	margin-left:1rem;
	width: 190px;
}
	
#header-usuario{
	padding:0.2rem 1rem;
	width: 12rem;
	border-radius: 1rem;
	text-align:right;
	height:70px;
	background-color: rgba(255, 255, 255, 0.5);
}

#header-usuario img{
	width:1.5rem;
}
	
nav {
	grid-area: nav;
	background-color: #f2f2f2;
	background-image: linear-gradient(to right, #2c78c7, #86f1fe);
	background-size:100% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
	border-top:3px solid #0574ca;  
	height:3rem;
	font-weight: bold;
}

nav ul li{
	display:inline;
	list-style-type: none;
	padding:1rem 0.8rem 0.8rem 0.8rem;
	margin: 0;
}
	
nav li:hover{
	border-bottom:0.8rem solid #fff;
	transition: border 0.3s;
	text-shadow: 2px 2px 4px #000000;
}
    
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s;
}	

nav a:hover {
	color:#fff;
}

main {
   grid-area: main;
   padding: 1rem;
}

footer {
   grid-area: footer;
   background-image: linear-gradient(to right, #ebebeb, #ddd);
   text-align: center;
   padding: 0.5rem;
}
	
.header-content {
	display: flex;
	justify-content: space-between; /* separa os itens nas extremidades */
	align-items: center;
	color: 000;
}
	
#title-form{
	max-width: var(--largura-max-central);
	margin:0 auto;
	margin-bottom:0;
	text-indent: 0;
	color:#0334a4;
	background-repeat:no-repeat;
	background-position: bottom right;
	background-color:#fff;
	padding-left:1rem;
	border-left:3px solid #6d96f2;
	margin-bottom:1rem;
	background-image:url('../img/back-title.png');
}
	
.formularioCadastro{
	line-height: 3rem;
	margin:0 auto;
	max-width:var(--largura-max-central);
}
	
.form-line{
	display: flex;
}
	
.countainer-form-label{
	font-size:0.9rem;
	font-weight:bold;
	color:#666;
	width:29%; 
	text-align:right; 
}
	
.countainer-form-campo{
	width:69%; 
	text-align:left; 
}
	
.button-confirm{
	font-weight:bold;
	padding:0.5rem 0.5rem 0.5rem 0.5rem;
	width:10rem;
	background-color: #2c78c7;
	background-image: linear-gradient(to right, var(--cor-secundaria), var(--cor-primaria));
	border:2px solid var(--cor-primaria);
	color: #012c22;
	font-size:1rem;
	cursor: pointer;
	margin-left: 0.5rem;
	text-align:left;
}
	
.button-cancel{
	font-weight:bold;
	padding:0.5rem 0.5rem 0.5rem 0.5rem;
	width:10rem;
	background-color: #a5a5a5;
	background-image: linear-gradient(to right, #ebebeb, #b6b6b6);
	border:2px solid #424142;
	color: #363636;
	font-size:1rem;
	cursor: pointer;
	text-align:left;
}
	
.imagem-decorativa-1{
	width:100%;
	margin-bottom:2rem;
	background-image: url('../img/uniao.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
}
	
.imagem-decorativa-2{
	width:100%;
	margin-bottom:2rem;
	background-image: url('../img/projetos.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
}
	
.container-form-buttons{
	margin-top: 0.5rem;
	text-align: right;
}
	
.container-center{
	padding:2rem;
	text-align:center;
}

#button-cadastro-instituicao{
	padding:2rem 1rem 2rem 2rem; 
	cursor:pointer;
	width: 20rem;
	background-image:url('../img/icon_instituicao.png');
	background-repeat: no-repeat;
	background-size:5rem auto;
	background-position:0.5rem center;
	text-align:right;
	font-size:1rem;
	font-weight:bold;
}
	
#button-cadastro-instituicao:hover{
	background-color:#0590ca;
	border:2px solid #0590ca;
	color:#fff;
}

#button-cadastro-voluntario{
	padding:2rem 1rem 2rem 2rem;
	cursor:pointer;
	width: 20rem;
	background-image:url('../img/icon_voluntario.png');
	background-repeat: no-repeat;
	background-size:4rem auto;
	background-position:0.5rem center;
	text-align:right;
	font-size:1rem;
	font-weight:bold;
	margin-right:1rem;
}

#button-cadastro-voluntario:hover{
	background-color:#0590ca;
	border:2px solid #0590ca;
	color:#fff;
}
	
#voluntarios-cadastrados{
	display:table;
	margin:0 auto;
	border-collapse: collapse;
	max-width: var(--largura-max-central);
	font-size:0.8rem;
}
	
#voluntarios-cadastrados th{
	background-color:#ddd;
	font-size:0.7rem;
	padding: 0.2rem 0.5rem;
}
	
#voluntarios-cadastrados td{
	padding: 0.2rem 0.5rem ;
}
	
#titulo-cadastrados{
	font-size:1rem;
	font-weight:bold;
	margin:0 auto;
	max-width: var(--largura-max-central);
}
	
#mensagem{
	display:none;
	padding:0.8rem;
	max-width: var(--largura-max-central);
	border-radius: 0.5rem;
	border:2px solid #029309;
	font-weight:bold;
	font-size:1rem;
	color:#818181;
	text-align:center;
	margin-bottom:2rem;
	background-image: url('../img/icone_ok.png');
	background-repeat:no-repeat;
	background-size: 30px;
	background-position: 2rem;
	margin:0 auto;
}
	
video{
	padding:2rem;
}
	
footer{ 
	font-size:0.8rem;
	padding:0; 
}
	
footer p{ 
	padding:0.5rem;
}
	
footer a {
	text-decoration:none;
	color:#fff;
	text-shadow: 2px 2px 4px #000000;
	font-size:1.1rem;
}

footer a:hover {
	text-decoration:none;
	color:#fff;
	font-size:1.2rem;
}

address{
	padding:1rem;
	line-height:2rem;
	background-color:#3787ce;
	font-weight:bold;
	color:#ade7ff;
	font-size:1.3rem;
}
	
/*Configuração responsiva para telas menores.*/
@media (max-width: 768px) {
	.grid-container {
		grid-template-areas:
        "header header"
        "nav nav"
        "main main"
        "footer footer";
        grid-template-columns: 1fr 1fr;
	}
	
#main-header {
	background-position:center 0;
	background-size:15rem;
}

nav{
	height:10rem;
}
		
nav ul li{
	display:block;
}
}